@model DataAccess.Models.Project


@{
    ViewBag.Title = "Info";
}


<div class="project-container">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12 p-0">
                <div class="project-info sticky-top" id="project-info">
                    <div class="project-name">
                        <span>@Model.Name</span>
                        @if (Model.CreatorEmail == User.Identity.Name)
                        {
                            <span>@Html.ActionLink("Create task", "Create", "Ticket", new { projectId = Model.ProjectID }, new { @class = "create-task-link" })</span>
                        }
                    </div>
                </div>
            </div>

            
                <div class="col-md-2" id="sidebar">

                    <div class="project-users text-center sticky-top" id="users-sidebar">
                        <a class="btn btn-primary" href="#" id="collapse-users"></a>


                        <p>Active users</p>

                        @RenderPage("~/Views/TeamMate/Index.cshtml")

                        @if (Model.CreatorEmail == User.Identity.Name)
                        {
                            <div class="user-controls">
                                <p>User controls</p>
                                @using (Html.BeginForm("FindUser", "Manage", FormMethod.Post))
                                {
                                    <input type="email" id="userEmail" name="email" placeholder="User email" />

                                    <input type="submit" value="Add" name="userControl" />
                                    <input type="submit" value="Delete" name="userControl" />

                                    <input type="hidden" name="projectId" value="@Model.ProjectID" />
                                }
                            </div>
                        }

                    </div>
                </div>
                <div class="col-md-10" id="main-controls">
                    @RenderPage("~/Views/Ticket/ActiveTickets.cshtml")
                </div>
            
        </div>
    </div>
</div>

@if (Model.CreatorEmail == User.Identity.Name)
{
    @Scripts.Render("~/Scripts/user-select.js")
}

@Scripts.Render("~/Scripts/scripts.js")