@model DistDuties.Models.Project

@using DistDuties.Models

@{
    ViewBag.Title = "Info";





}


<div class="project-inner">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0">
                <div class="project-users text-center">
                    <p>Active users</p>

                    <div class="users-list" id="user-list">
                        <ul>
                            @foreach (var item in ViewBag.temMates)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>

                    @if (Model.CreatorEmail == User.Identity.Name)
                    {
                        <div class="user-controls">
                            <p>User controls</p>
                            @using (Html.BeginForm("FindUser", "Manage", FormMethod.Post))
                            {
                                <input type="email" id="userEmail" name="email" placeholder="User email" />

                                <input type="submit" value="Add" name="userControl" />
                                <input type="submit" value="Delete" name="userControl" />

                                <input type="hidden" name="projectId" value="@Model.ProjectID" />
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-10 p-0">

                <div class="project-info">
                    <div class="project-name">
                        <span>@Model.Name</span>
                        @if (Model.CreatorEmail == User.Identity.Name)
                        {<span>@Html.ActionLink("Create task", "Create", "Ticket", new { projectId = Model.ProjectID }, new { @class = "create-task-link" })</span>}
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <p>Stats</p>
                        </div>
                        <div class="col-md-10">
                            <div class="project-tasks">
                                <p>Tickets</p>
                                
                                    <div class="col-md-5 d-inline-block">
                                        <span>Title</span>
                                    </div>
                                    <div class="col-md-2 d-inline-block">
                                        <span>Status</span>
                                    </div>
                                    <div class="col-md-2 d-inline-block">
                                        <span>Ticket perfomer</span>
                                    </div>
                                
                                
                                @foreach (Ticket item in ViewBag.Tickets)
                                {
                                    <div class="project-task">
                                        <div class="col-md-5">
                                            <div class="task-name">
                                                <span>@item.TicketName</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="task-status">
                                                <span>@item.Status</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="task-user">
                                                <span>@item.TeamMateEmail </span>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

@if (Model.CreatorEmail == User.Identity.Name)
{
    @Scripts.Render("~/Scripts/user-select.js")
}

