@using DataAccess.Models

@helper printTickets(IEnumerable<Ticket> list)
{
    foreach (Ticket item in list)
    {
        <div class="project-ticket @item.Status">
            @Html.ActionLink($"{@item.TicketName}", "Index", "Ticket", new { ticketId = item.TicketID}, new { })
            <p>@item.TeamMateEmail</p>
        </div>
    }
}


<div class="project-tasks sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2>New</h2>
                @printTickets(ViewBag.NewTickets)
            </div>
            <div class="col-md-3">
                <h2>In progress</h2>
                @printTickets(ViewBag.InProgressTickets)
            </div>
            <div class="col-md-3">
                <h2>Completed</h2>
                @printTickets(ViewBag.CompletedTickets)
            </div>
            <div class="col-md-3">
                <h2>Closed</h2>
                @printTickets(ViewBag.ClosedTickets)
            </div>
        </div>
    </div>
</div>