@model DataAccess.Models.Ticket

@using DataAccess.Models
@{
    ViewBag.Title = "Index";
}

<div class="container">



    <div class="row">

        <div class="col-md-12">

            <div class="ticket-info">



                <h2>@Model.TicketName</h2>

                <div class="deadline">
                    @ViewBag.timeLeft
                </div>
                @if (Model.CompleteTime > new DateTime(2018, 1, 1))
                {
                    <div class="ticket-time">
                        @if (Model.Status == TicketStatus.InProgress)
                        {
                            <span>Start time: </span>
                        }
                        else if (Model.Status == TicketStatus.Completed)
                        {
                            <span>End time: </span>
                        }

                        <span>@Model.CompleteTime</span>
                    </div>
                }

                <label>Task performer</label>
                <p>@Model.TeamMateEmail</p>

                <label>Status</label>
                <p>@Model.Status</p>

                <label>Description</label>
                <p> @Model.Description</p>


                @switch (Model.Status)
                {
                    case TicketStatus.InProgress:
                        if (ViewBag.admin == true)
                        {
                            @Html.ActionLink("Close", "Close", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })
                        }
                        @Html.ActionLink("Ticket is done", "CompleteConfirm", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })

                        break;
                    case TicketStatus.New:
                        if (ViewBag.admin == true)
                        {
                            @Html.ActionLink("Close", "Close", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })
                        }
                        @Html.ActionLink("Start", "Start", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })
                        break;
                    case TicketStatus.Completed:
                        if (ViewBag.admin == true)
                        {
                            @Html.ActionLink("Start", "Start", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })
                            @Html.ActionLink("Close", "Close", "Ticket", new { ticketId = Model.TicketID }, new { @class = "btn btn-custom" })
                        }
                        break;
                }

                @Html.ActionLink("Back to project", "Info", "Project", new { id = Model.ProjectID }, new { @class = "btn btn-custom d-block" })
            </div>
        </div>
    </div>
</div>
